@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rec-carousel-item > div {
  width:100%!important;
} 
.videocontainer  video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.videorange {
  top: 93%;
  width: 95%;
  margin-inline: auto;
  left: 50%;
  transform: translate(-50%, -50%);
}
